/* pre{
    color: lightseagreen;
    font-weight: bold;
}
h2{
    text-decoration: underline;
    color:crimson;
} */
body{
    margin-left: 20px;
    margin-right: 40px;
}

.p{
    color:cadetblue;
    font-family: cursive;
    font-weight: bold;
}
h2{
    text-decoration: underline;
    color: crimson;
    text-shadow: 2px 2px 2px rgb(211, 166, 166);
}
i{
    color:crimson;
}
h4{
    text-decoration: underline;
}
p{
    color:purple;
    font-weight: bolder;
}